.divDetail {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 6, 6, 0.562);

}

.divDetail div:first-child {
  display: flex;
  background: var(--color-background-cards);
  border-radius: 10px;
  box-shadow: 1px 2px var(--white);
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-align: center;
  font-size: 15px;
  width: 350px;
  height: 400px;
  color: var(--color-letter-card);
  animation: roll-in-left 0.6s ease-out both;

}

.divDetail div:first-child h2{
  font-size: 40px;
  text-shadow: 1px 1px 1px var(--white);
}

.divDetail div:first-child ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  gap: 20px;
}

.cardImg {
  width: 300px;
  border: 2px solid var(--white);
  border-radius: 5px;
  animation: roll-in-right 0.6s ease-out both;
}


@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}