:root {
  --color-button-nav: linear-gradient(to left, #02e921, #fdffef);
  --color-background-cards: linear-gradient(to top, #02e921, #12c2e9);
  --color-box-shadow: #fdffef;
  --color-letter-card: #0f0f0f;
}

.App {
  text-align: center;
  overflow: hidden;
}
