.card {
  background: var(--color-background-cards);
  border-radius: 10px;
  box-shadow: 2px 2px 3px black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
  width: 230px;
  height: 300px;
  margin: 30px;
  -webkit-animation: slide-in-elliptic-left-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-left-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.card :link {
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  color: var(--color-letter-card);
  text-shadow: 1px 1px 1px white;
}

.card :visited {
  color: var(--color-letter-card);
}

/* .cardClicked {
  background: var(--color-background-cards);
  border-radius: 10px;

  box-shadow: 1px 2px var(--color-box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
  width: 250px;
  height: 300px;
  margin: 30px;
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
} */

.cardImg {
  width: 150px;
  border: 2px solid var(--color-box-shadow);
  border-radius: 5px;
}

.cardImg:hover {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.card-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 280px;
}

.cardBtton {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cardFav {
  position: absolute;
  left: 5px;
  top: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

/* ANIMACIONES */

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    display: none;
  }
}

@keyframes slide-in-elliptic-left-fwd {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
    transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1800px 50%;
    transform-origin: 1800px 50%;
    opacity: 1;
  }
}
