.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100vw;
  position: fixed;
  z-index: 1;
}

.divHome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}

.iconHome {
  width: 30px;
  height: auto;
  padding: 0;
}

.iconLogout {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
